language: python
python:
  - "3.7"
install:
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install 'pytest>=3.6'
  - pip install flake8 # forcing installation of flake8, might be removed after https://gitlab.com/pycqa/flake8/issues/164 gets fixed.
script:
  - python setup.py test
  - python setup.py flake8
after_success:
  - coveralls
